.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

.left-side {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}


.left-side-text {
  font-size: 25px;
  color: #333;
  letter-spacing: 1px;
  margin-left:20px ;
}

.center-side {
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.search-input {
  padding: 8px 40px 8px 32px;
  border: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #333;
  width: 200px;
  transition: background-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  background-color: #e6e6e6;
}

.right-side {
  display: flex;
  align-items: center;
}

.username {
  font-size: 14px;
  color: #333;
  margin-right: 20px;
}

.user-icon {
  font-size: 18px;
  color: #888;
  margin-right: 20px;
}


.content-sidebar-wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  padding: 20px 0;
  background-color: #040C18;
  color: #fff;
}

.sidebar-icon {
  margin-bottom: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
  border-radius: 50%;
  padding: 10px;
}

.sidebar-icon:hover {
  color: #a6a6a6;
  transform: scale(1.2);
}

/* for teams*/
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-sidebar-wrapper {
  display: flex;
  flex: 1;
} 


  
  